@page "/"
@using System.Diagnostics
<link href="~/css~/css/colors.css" rel="stylesheet" />
<PageTitle>Index</PageTitle>



<div id="header" class="article-header">
    <div id="top-nav" class="top-nav-options">
        <h1 class="article-header-text">Article name</h1>
        <hr>
            <div class="button-group">
                <button type="button" class="button" @onclick=@(() => alerty("carMoved"))>Click Me!</button>
            </div>
    </div>
</div>
Welcome to your new app.

@code {
    public void alerty(string str)
    {
        Debug.WriteLine(str);
    }
}
